html,
body,
#root,
.app,
.body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.app {
  font-family: "Open Sans", sans-serif;
}
.nav {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.body {
  display: flex;
  padding: 10px;
  height: calc(100% - 57px);
  background-color: #e6ecf0;
  box-sizing: border-box;
}
.sidebar {
  border: 1px solid rgba(0,0,0,0.25);
  margin-right: 10px;
  background: #fff;
  max-height: 120px;
  flex-basis: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .stats {
  text-transform: lowercase;
  font-size: 12px;
}
.content {
  padding: 10px;
  background-color: #fff;
  flex: 1;
}
.user-avatar {
  border-radius: 50%;
  display: block;
  width: 64px;
  height: 64px;
}
.user-avatar.small {
  width: 32px;
  height: 32px;
}
.user-stats {
  width: 100%;
}
.user-stats > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}